<html>
    <head>

    </head>
    <body>
        <h1>ADDRESS IN THIS FILE</h1>
        <% for(var i=0;i<name.length; i++){ %> 
            <p> <%= name[i].Title %> </p>
       <p> <a href="/data/<%= i%>"><%= name[i].img%></a></p>
        <% } %>
    </body>

</html>